.communityBoard-wrapper {
  padding: 10px 20px;
}

.communityBoard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0px;
}

.communityBoard-header span {
  font-size: 25px;
  font-weight: 700;
  opacity: 0.8;
}

.communityBoard-header a {
  color: white;
  font-size: 18px;
  font-weight: 500;
  background-color: forestgreen;
  opacity: 0.9;
  border-radius: 5px;
  position: relative;
  top: 6px;
}

.board {
  /* background-color: wheat; */
  margin: 10px 0px;
  padding: 20px 0px;
}

.boardRow {
  display: flex;
  padding: 3px 0px;

  width: 100%;
  background-color: rgba(135, 233, 132, 0.1);
  align-items: center;
  border-bottom: black solid 1px;
  border-color: rgba(0, 0, 0, 0.2);
}

.board__header {
  border-top: black solid 1px;
  border-color: rgba(0, 0, 0, 0.2);
  padding: 10px 0px;
}

.boardRow__bodyInfo {
  width: 70%;
  /* background-color: tomato; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.boardRow__footerInfo {
  width: 30%;
  display: flex;
  align-items: center;
}

.board__content {
  /* background-color: aquamarine; */
  text-align: center;
  /* border: black solid 1px; */
}

.board__content img {
  height: 60px;
  width: 60px;
  border-radius: 20%;
}
.board__content span {
  font-size: 13px;
}

.board__content a {
  color: black;
  text-decoration: none;
}

/* post id */
.boardRow__bodyInfo .board__content:first-child {
  width: 7%;
  /* white-space: nowrap; */
}

/* title */

.boardRow__bodyInfo .board__content:nth-child(2) {
  width: 83%;
  /* background-color: tomato; */
}

.board__content-title {
  text-align: left;
  margin-left: 30px;
}

/* profile */

.boardRow__bodyInfo .board__content:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
}

/* date */
.boardRow__footerInfo .board__content:first-child {
  width: 70%;
}

/* 조회수 */
.boardRow__footerInfo .board__content:nth-child(2) {
  width: 15%;
}

/* 추천수 */
.boardRow__footerInfo .board__content:last-child {
  width: 15%;
}

.board-lookup-display {
  display: none;
}

@media screen and (max-width: 1000px) {
  .communityBoard-wrapper {
    padding: 0px 10px;
  }

  .communityBoard-header {
    padding: 0px;
    margin-top: 3px;
  }

  .communityBoard-header span {
    font-size: 20px;
  }

  .communityBoard-header a {
    display: none;
  }

  .communityBoard-wrapper__board-wrapper {
    padding: 0px;
  }

  .board {
    margin: 0px;
    padding: 10px 0px;
  }

  .boardRow {
    display: block;
  }

  .board__header {
    display: none;
  }

  .boardRow__bodyInfo {
    width: 100%;
  }
  .board__content {
    text-align: left;
  }

  .board__content-title {
    margin-left: 10px;
  }

  .board__content img {
    height: 45px;
    width: 45px;
    border-radius: 20%;
  }

  /* post id */
  .boardRow__bodyInfo .board__content:first-child {
    display: none;
  }

  /* title */

  .boardRow__bodyInfo .board__content:nth-child(2) {
    width: 80%;
    text-align: left;
    font-weight: 600;
  }
  /* profile */
  .boardRow__bodyInfo .board__content:nth-child(3) {
    width: 20%;
  }
  .boardRow__bodyInfo .board__content:nth-child(3) span {
    position: relative;
    top: 6px;
    font-size: 12px;
  }

  .boardRow__footerInfo {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
  }

  .board-lookup-display {
    display: initial;
    margin-right: 2px;
  }

  /* date */
  .boardRow__footerInfo .board__content:first-child {
    width: 32%;
    /* background-color: tomato; */
  }

  /* 조회수 */
  .boardRow__footerInfo .board__content:nth-child(2) {
    width: 15%;
  }

  /* 추천수 */
  .boardRow__footerInfo .board__content:last-child {
    width: 15%;
  }
}
