.main-container {
  width: 80%;
  overflow-x: hidden;
  /* height: 1000vh; */
}

.right-container {
  position: fixed;
  right: 0px;
  width: 20%;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.02); */
  background-color: rgba(33, 196, 33, 0.04);
  border-left: black solid 0.5px;
  border-color: rgba(33, 196, 33, 0.1);
}
