.header {
  height: 8vh;
  /* background-color: rgba(34, 139, 34, 0.8); */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: black solid 1px;
  border-color: rgba(0, 0, 0, 0.07);
}

.header__home {
  /* width: 250px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0px;
  padding-left: 10px;
  white-space: nowrap;
}

.header__home a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: black;
  text-decoration: none;
}

.header__home img {
  margin-right: 10px;
  height: 40px;
  width: 40px;
}

.header__home h1 {
  font-size: 35px;
  font-weight: 700;
  /* padding-top: 5px; */
  padding-bottom: 4px;
  opacity: 0.8;
}

.header__menu {
  margin-top: 10px;
  margin-left: 0px;
  width: 100%;
  display: flex;
  align-items: center;

  /* background-color: rgba(0, 0, 0, 0.1); */
}

.header__menu .nav-link {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 10px;
  font-weight: 600;
  white-space: nowrap;
}
.header__unihubInfo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* background-color: wheat; */
  padding-top: 5px;
}
.header__unihubInfo a {
  /* padding: 10px; */
  /* margin-right: 5px; */
  /* margin-left: 1px; */
  padding: 5px;

  /* background-color: tomato; */

  /* width: 30px;
  height: 30px; */
  margin-right: 5px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: flex-start; */
  /* color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  opacity: 0.5;
  padding-top: 17px; */
}

.header__unihubInfo a:last-child {
  margin-right: 20px;
}

.header__unihubInfo img {
  width: 23px;
  height: 23px;
}
