.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.react-horizontal-scrolling-menu--arrow-left,
.react-horizontal-scrolling-menu--arrow-right {
  align-items: center;
}

.arrow-button {
  /* background-color: tomato; */
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.main-container::-webkit-scrollbar {
  /* display: none; */
}

.right-container::-webkit-scrollbar {
  display: none;
}
