.myMenu {
  padding: 20px 40px;
}

.myMenu-registerForm {
  padding: 20px 40px;
  /* background-color: wheat; */
}

.myMenu-registerForm__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

.myMenu-registerForm__header h1 {
  font-size: 30px;
  font-weight: 700;
}
.myMenu-registerForm__header h2 {
  font-size: 20px;
  font-weight: 500;
}

.myMenu-registerForm__body {
  /* background-color: antiquewhite; */
  padding: 20px 30px;
}

.NFTList__item label input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.NFTList__item label input + img {
  cursor: pointer;
}

.NFTList__item img {
  height: 200px;
  width: 200px;
  border-radius: 20%;
  margin: 20px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.5);
}

.NFTList__item [type="radio"]:checked + img {
  outline: 7px solid forestgreen;
}

.myMenu-registerForm__item {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 50px;
}
.myMenu-registerForm__item:last-child {
  justify-content: center;
}

.myMenu-registerForm__item input {
  /* border: none; */
  padding: 15px 10px;
  font-size: 18px;
}

.myMenu-registerForm__item .registerButton {
  /* border-radius: 10px; */
  background-color: forestgreen;
  border: none;
  color: white;
  width: 80px;
}
