/* Components */
@import "./css/components/header.css";
@import "./css/components/container.css";
@import "./css/components/profile.css";
@import "./css/components/board.css";
@import "./css/components/postingContent.css";
@import "./css/components/topNFT.css";
@import "./css/components/cardList.css";
@import "./css/components/advertisement.css";
@import "./css/components/scrollBar.css";

/* Screens */
@import "./css/screens/main.css";
@import "./css/screens/mint.css";
@import "./css/screens/mymenu.css";
@import "./css/screens/home.css";

@import "./css/mobile.css";

.App {
  display: flex;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
